@using LotometroPortal.Entities
@using LotometroPortal.ViewModels

@model LoginInputViewModel

@{
    ViewData["Title"] = "Login";
}

<partial name="_SweetAlert" />
<div class="row align-items-center min-vh-100">
    <div class="col">
        <div class="row text-center">
            <div class="col">
                <p class="h4 text-secondary mb-5">LOGIN PORTAL</p>
            </div>
        </div>       

        <div class="row">
            <div class="col bg-gradient-secondary rounded-lg elevation-3 text-center p-3 mx-2 mx-md-5">
                <form id="formLogin" asp-controller="Login" asp-action="LoginClick">
                    <div class="row">
                        <div class="col text-center">
                            <div class="form-group px-0 px-md-5">
                                <label class="text-light">USERNAME</label> <br />
                                @Html.EditorFor(x => x.Username, new { htmlAttributes = new { @id = "username", @class = "form-control", placeholder = "Digite o username...", @type = "string" } })
                                @Html.ValidationMessageFor(x => x.Username, "", new { @class = "alert-danger" })

                            </div>
                            <div class="form-group px-0 px-md-5">
                                <label class="text-light">SENHA</label> <br />
                                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @id = "password", @class = "form-control", placeholder = "Digite o password...", @type = "password", maxlength = "20" } })
                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "alert-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center text-sm-right">
                            <a class="btn btn-secondary mt-1" asp-area="" asp-controller="Home" asp-action="Index" style="width:130px;">
                                <i class="fa @IconHelperClass.icon_cancel"></i> CANCELAR
                            </a>
                        </div>
                        <div class="col text-center text-sm-left ">
                            <button type="submit" class="btn btn-primary mt-1" style="width:130px;">
                                Entrar <i class="fa @IconHelperClass.icon_forward"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            OU
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <button class="btn btn-primary mt-1" style="width:130px;" onclick="sweetFunctions.SweetInDevelopment(); event.preventDefault();">
                                <i class="fa @IconHelperClass.icon_user"></i> Cadastre-se
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col text-center">
                <a style="color: blue; text-decoration-line: underline; cursor:pointer;" onclick="sweetFunctions.SweetInDevelopment()">Esqueci a senha</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col text-center">
                <img src="~/img/lotometro-full-logo.png" style="width:300px;" />
            </div>
        </div>
    </div>
</div>
